@using DemoLibrary.Models.Genre

@model GenreAddModel

@{
    ViewData["Title"] = "Add Genre";
}

<h1>Добави жанр</h1>

<form method="post">
    <div class="form-row ">
        <label asp-for="Name">Име на Жанра</label>
        <input asp-for="Name" class="form-control" value="" required>
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>
    <button class="btn-outline-dark btn-primary btn-lg btn-block" type="submit">Добави</button>
</form>
