@using DemoLibrary.Services.Reader
@using DemoLibrary.Services.Worker
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IWorkerService Worker
@inject IReaderService Reader

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var userId = UserManager.GetUserId(User);
        var userIsWorker = Worker.IsWorker(userId);
        var userIsReader = Reader.IsReader(userId);
        var userIsAdmin = User.IsInRole("Admin");

@if (userIsWorker && !userIsAdmin)
        {
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Workshop" asp-action="Index">Workshop</a>
                </li>
            }
        }
        else if (!userIsAdmin && userIsReader)
        {
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Reader" asp-action="Mine">Mine Room</a>
                </li>
            }

        }
        else if (!userIsAdmin)      
        {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Reader" asp-action="Become">Become Reader</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Worker" asp-action="Become">Become Worker</a>
                </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>